/*     

    características gerais do html, body e hr     

*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

hr {
    color: #B89B5E;
    height: 1px;
    background-color: #B89B5E;
    border: none;
}

/*

    barra de navegação da home

*/

.nav {
    background-color: #000000;
    color:rgb(209, 186, 123);
    height: 50px;
    letter-spacing: 0.8px;

    animation-name: menu-capa;
    animation-duration: 3s;
}

.nav ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
    height: 50px;
}

.nav li {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 300;
}

.nav a {
    color: rgb(209, 186, 123);
    text-decoration: none;
}

.nav a.ativo {
    color:rgb(226, 210, 166);
}

.nav a:hover {
    color: rgb(226, 210, 166);
}

.nav li.line3-icon {
    display: none;
}

.nav li.line3-icon:hover {
    color: rgba(181, 163, 119, 0.781);
    cursor: pointer;
}

/*

    foto e descrição na home

*/

.info {
    color: #B89B5E;
}

.info h1 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-left: 55px;
    font-weight: 400;
    color: whitesmoke;
}

.info h2 {
    font-size: 50px;
    color:#B89B5E;
    margin-left: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
}

.info h3 {
    font-size: 50px;
    color: #B89B5E;
    margin-left: 58px;
    margin-top: 5px;
    font-weight: 300;
}

.info div {
    display: inline-block;
    height: 650px;
    height: 100%;
}

.pic {
   width: 40%;
   text-align: center;

   animation-name: capa;
   animation-duration: 3s;
}

.pic img {
    width: 350px;
    border-radius: 350px;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    -ms-border-radius: 350px;
    -o-border-radius: 350px;
    margin-top: 150px;
}

.eu {
    vertical-align: top;
    width: 59%;
    margin-top: 180px;

    animation-name: titulo-capa;
    animation-duration: 3s;    
}

/*

    todo o conteúdo da atuação

*/

.content {
    padding: 65px 250px 50px 250px;
    letter-spacing: 0.7px;
    text-align: justify;

    animation-name: cont;
    animation-duration: 3s;
}

.content h1 {
    color: #B89B5E;
    font-weight: normal;
    text-transform: uppercase;
}

.content h2 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: normal;
    margin-top: 65px;
}

.content h3 {
    color: #B89B5E;
    font-size: 25px;
    font-weight: normal;
}

/*

    blocos divs da atuação

*/

.bloco1 {
    width: 55%;
    float: left;
}

.bloco2 {
    width: 45%;
    float: right;
}

.bloco3 {
    width: 55%;
    float: left;
}

.bloco4 {
    width: 45%;
    float: right;
}

/*

   icones e descrição da atuação

*/

.icone1 {
   float: left;
   width: 15%;
}

.descricao1 {
    padding: 50px;
    width: 85%;
}

.icone2 {
    float: left;
    width: 15%;
}
 
.descricao2 {
    padding: 50px;
    width: 85%;
}

.icone3 {
    float: left;
    width: 15%;
}
 
.descricao3 {
    padding: 50px;
    width: 85%;
}

.icone4 {
    float: left;
    width: 15%;
}
 
.descricao4 {
    padding: 50px;
    width: 85%;
}

/*

    conteúdo do contato

*/

.contact div {
    height: 100%;
}

.contact {
    padding: 50px 250px 0px 220px;

    animation-name: cont;
    animation-duration: 3s;
}

.contact h1 {
    color: #B89B5E;
    font-weight: 200;
    padding-bottom: 20px;
}

.contact h3 {
    padding-top: 20px;
    color: #B89B5E;
    font-weight: 200;
    font-size: 18px;
}

.contact p {
    color: whitesmoke;
    padding-top: 5px;
    font-weight: 200;
    font-size: 19px;
    letter-spacing: 0.7px;
}

.contact a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.contact  a.ativo {
    color:#009DD1;
}

.contact a:hover {
    color: #009DD1;
}

/*

    efeito dourado no link site do work1 e demais páginas trabalhos portifólio

*/

.referencia {
    text-decoration: none;
    color: #B89B5E;
}

/*

    efeitos de movimentações nos blocos de cada página

*/

@keyframes capa {
    0% { opacity: 0; transform: translate(0px, 30px) ; -webkit-transform: translate(0px, 30px) ; -moz-transform: translate(0px, 30px) ; -ms-transform: translate(0px, 30px) ; -o-transform: translate(0px, 30px) ; }
    100% { opacity: 1; transform: translate(0px, 0px) ; -webkit-transform: translate(0px, 0px) ; -moz-transform: translate(0px, 0px) ; -ms-transform: translate(0px, 0px) ; -o-transform: translate(0px, 0px) ; }
}

@keyframes titulo-capa {
    0% { opacity: 0; transform: translate(0px, -30px) ; -webkit-transform: translate(0px, -30px) ; -moz-transform: translate(0px, -30px) ; -ms-transform: translate(0px, -30px) ; -o-transform: translate(0px, -30px) ; }
    100% { opacity: 1; transform: translate(0px, 0px) ; -webkit-transform: translate(0px, 0px) ; -moz-transform: translate(0px, 0px) ; -ms-transform: translate(0px, 0px) ; -o-transform: translate(0px, 0px) ; }
}

@keyframes menu-capa {
    0% { opacity: 0; }
    50% {opacity: 0;}
    100% { opacity: 1; }
}

@keyframes cont {
    0% { opacity: 0; transform: translate(-30px, 0px) ; -webkit-transform: translate(-30px, 0px) ; -moz-transform: translate(-30px, 0px) ; -ms-transform: translate(-30px, 0px) ; -o-transform: translate(-30px, 0px) ; }
    100% { opacity: 1; transform: translate(0px, 0px) ; -webkit-transform: translate(0px, 0px) ; -moz-transform: translate(0px, 0px) ; -ms-transform: translate(0px, 0px) ; -o-transform: translate(0px, 0px) ; }
}

/*

    design responsivo para mobile

*/

@media (max-width: 1000px) {

    /*
    
        responsividade página inicial
    
    */

    .nav li {
        display: none;
        font-weight: 200;
    }

    .nav li.line3-icon {
        display: inline-block;
    }

    .info div {
        display: block;
        height: auto;
    }

    .pic {
        width: 100%;
    }

    .pic img {
        margin-top: 50px;
        margin-bottom: 20px;
        max-width: 60%;
    }

    .eu {
        margin-top: 25px;
        text-align: center;
        width: 100%;
    }

    .info h1 {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: 25px;
    }

    .info h2 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .info h3 {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /*
    
        responsividade página atuação

    */

    .content {
        padding: 50px 7% 40px 7%;
    }
    
    .content h1 {
        font-size: 22px;;
        color: #B89B5E;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    .content h2 {
        color: whitesmoke;
        font-size: 30px;
        font-weight: normal;
        margin-top: 70px;
    }
    
    .content h3 {
        color: #B89B5E;
        font-size: 25px;
        font-weight: normal;
    }
    
    /*
    
        blocos divs da atuação
    
    */
    
    .bloco1 {
        width: auto;
        float:inherit;
    }
    
    .bloco2 {
        width: auto;
        float:inherit;
    }
    
    .bloco3 {
        width: auto;
        float:inherit;
    }
    
    .bloco4 {
        width: auto;
        float:inherit;
    }
    
    /*
    
       icones e descrição da atuação
    
    */
    
    .icone1 {
       float: left;
       width: 15%;
    }
    
    .descricao1 {
        padding: 50px;
        width: 85%;
    }
    
    .icone2 {
        float: left;
        width: 15%;
    }
     
    .descricao2 {
        padding: 50px;
        width: 85%;
    }
    
    .icone3 {
        float: left;
        width: 15%;
    }
     
    .descricao3 {
        padding: 50px;
        width: 85%;
    }
    
    .icone4 {
        float: left;
        width: 15%;
    }
     
    .descricao4 {
        padding: 50px;
        width: 85%;
    }

    /*
    
        responsividade página contato
    
    */

    .contact {
        padding: 50px 10% 0px 15%;
    }

    .contact h1 {
        font-size: 22px;
    }

    .contact h3 {
        font-size: 16px;
    }
    
    .contact p {
        font-size: 19px;
    }

    /*
    
        responsividade meu mobile
    
    */

    .menujs {
        height: auto;
    }

    .menujs ul {
        height: auto;
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
    }

    .menujs li {
        display: block;
        border-bottom: solid white 0.5px;
    }

}